<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssafy.happyhouse.model.dao.SchoolDao">

  <select id="getAllSchool" resultType="School">
  	select * 
  	from school
	where substr(dongcode, 1, 5) = #{guguncode}
  </select>
   
  <select id="getSchoolDetail" resultType="School">
  	select * 
  	from school
	where schoolCode=#{schoolCode}
  </select>
  
</mapper>
